body {
  background-color: #0f213b;
  font-family: Arial, Helvetica, sans-serif;
}

.card-content {
  background-color: #052853;
}

.card-title {
  color: #d4dce7;
}

.card-image {
  padding: 3%;
  background-color: #052853;
}
/* 
.active {
  color: #35c6c8;
} */

h5,
h6 {
  color: #465d78;
}

#left-column {
  color: #3dc6c8;
}

#right-column {
  color: #465d78;
}

.attribution {
  color: #465d78;
}

#avatar {
  border: 1px solid #d4dce7;
}
